* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F3D9;
    min-height: 100vh;
}

body > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:30px;
}

section {
    height: 100px;
    padding: 40px;
    text-align: center;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px
}

.boxes section {
    background-color: #C16E70;
    border-radius: 10px;
    padding: 15px;
    margin: 0 20px;
    flex-basis: 280px;
    flex-grow: 0;
    flex-shrink: 1;
    height: 350px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

